*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto";
  text-align: center;
  padding: 10px;
}

.MuiButton-root {
  margin: 20px;
}

.Header{
  font-size: 50px;
  background: -webkit-linear-gradient(#6ab7ff, #673ab7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  margin-top: 50px;
  background: -webkit-linear-gradient(#6ab7ff, #673ab7);
  border-radius: 20px;
  color: white;
}

footer i {
  color: white;
}